<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <h1>Hello my name is {{ name }}</h1>
<<<<<<< HEAD:lab_1/templates/index.html
	<article>I am {{ age }} years old</article>
=======
    <article>I am {{ age }} years old</article>
>>>>>>> e2c6e5cdfcdab1e31e0ba4dc37cf4cdab9a4ed62:lab_1/templates/index_lab1.html
</body>
</html>
